h1{
  color: rgb(18, 148, 70);
  
}
h3{ 
color: rgb(243, 31, 31);
font-size: 27px;

}
h4{
color: rgb(102, 151, 243);

}
h2{
  color: rgb(35, 32, 235);
}
h5{

  color: rgb(16, 194, 111);
}
h6{
color: rgb(17, 136, 57);
font-size: 70px;
}